@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: bisque;
    font-family: Roboto, Verdana, sans-serif;
}
/*Menu*/
#content {
    max-width: 1600px;
}
nav {
    /*background-color: lightblue;*/
    display: flex;
    justify-content: center;
}

#primary {
    background-color: darkblue;
}

/* * {
    border: 1px solid red;
} */

a {
    background-color: lightblue;
    color: rgb(71,68,69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

a:hover {
    background-color: darkgrey;
    color: white
}

nav {
    display: flex;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    width: 40%;
    margin: 10px auto;
    padding: 10px;
}

img {
    width: 20%;
    display: block;
    border: 3px solid lightblue;
    padding: 5px 40px 15px 0px;
    margin: 80px auto;
    box-sizing: border-box;
}

footer {
    background-color: lightblue;
    color: rgb(71,69,69);
}

footer p {
    text-align: center;

}
/*Main*/

.background {
    background-color: #ccc;
}