body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#cherry {
    grid-column: 1/3;
    z-index: 0;
    width: 200px;
}

#above {
    grid-column: 1/6;
    grid-row:1/6;
    z-index: 1;

}